{%- for repo, repo_info in repos %}
load("//private/non_bzlmod/smart_dependencies/{{repo}}:load_{{repo}}.bzl", "load_{{repo.replace('-', "_")}}")
{%- endfor %}
load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")

def download_dependencies(
        local_monorepo_base = "../..",
    {%- for repo, repo_info in repos %}
        {{repo.replace('-', "_").replace('bzlmodrio_', '')}}_version = "{{repo_info.keys() | last}}"{% if not loop.last %},{%endif%}
    {%- endfor %}):
{{bazel_dependencies.rules_jvm_external.download_repository(indent_num=4, maybe=False)}}

    {%- for repo, repo_info in repos %}
    load_{{repo.replace('-', "_")}}({{repo.replace('-', "_").replace('bzlmodrio_', '')}}_version, local_monorepo_base = local_monorepo_base)
    {%- endfor %}

