


{%- for name, module_dep in group.module_dependencies.items() %}
load("@{{name}}//:maven_cpp_deps.bzl", "setup_legacy_{{module_dep.container.sanitized_repo_name}}_cpp_dependencies")
{%- if module_dep.container.has_direct_maven_deps() or module_dep.container.java_deps %}
load("@{{name}}//:maven_java_deps.bzl",
{%- if module_dep.container.has_direct_maven_deps() %} "get_{{module_dep.container.sanitized_repo_name}}_java_dependencies"{%- endif -%}
{%- if module_dep.container.has_direct_maven_deps() and module_dep.container.java_deps -%}, {%- endif -%}
{%- if module_dep.container.java_deps %} "setup_legacy_{{module_dep.container.sanitized_repo_name}}_java_dependencies"
{%- endif -%})
{%- endif %}
{%- endfor %}
load("@rules_roborio_toolchain//:maven_deps.bzl", "setup_legacy_setup_toolchains_dependencies")
load("@rules_roborio_toolchain//toolchains:load_toolchains.bzl", "load_toolchains")
load("@rules_bazelrio//:nonbzlmod_setup.bzl", "setup_rules_bazelrio")

def _setup_toolchains():
    setup_legacy_setup_toolchains_dependencies()

    load_toolchains()

    native.register_toolchains(
        "@local_roborio//:macos",
        "@local_roborio//:linux",
        "@local_roborio//:windows",
    )

def _setup_cpp_dependencies():
    {%- for name, module_dep in group.module_dependencies.items() %}
    setup_legacy_{{module_dep.container.sanitized_repo_name}}_cpp_dependencies()
    {%- endfor %}

def _setup_java_dependencies():
    {%- for name, module_dep in group.module_dependencies.items() %}
        {%- if module_dep.container.java_deps %}
    setup_legacy_{{module_dep.container.sanitized_repo_name}}_java_dependencies()
        {%- endif %}
    {%- endfor %}

def _combine_maven_info(maven_artifacts, maven_repositories, setup_functor):
    dep_maven_artifacts, dep_maven_repositories = setup_functor()

    maven_artifacts += dep_maven_artifacts
    maven_repositories += dep_maven_repositories

    return maven_artifacts, maven_repositories

def get_java_dependencies():
    maven_artifacts, maven_repositories = [], []

{%- for name, module_dep in group.module_dependencies.items() %}
{%- if module_dep.container.has_direct_maven_deps() %}
    maven_artifacts, maven_repositories = _combine_maven_info(maven_artifacts, maven_repositories, get_{{module_dep.container.sanitized_repo_name}}_java_dependencies)
{%- endif %}
{%- endfor %}

    return maven_artifacts, maven_repositories

def setup_dependencies():
    _setup_toolchains()
    _setup_cpp_dependencies()
    _setup_java_dependencies()

    setup_rules_bazelrio()

