py_binary(
    name = "generate_mega_group",
    srcs = ["generate_mega_group.py"],
    deps = [
        "@bzlmodrio-gentool//bazelrio_gentool",
    ],
)

py_binary(
    name = "generate",
    srcs = [
        "generate.py",
        "get_libraries_remapping.py",
        "get_mega_group.py",
        "load_repos.py",
    ],
    visibility = ["//visibility:public"],
    deps = [
{%- for lib in libraries %}
        "@bzlmodrio-{{lib}}-gentool//:get_{{lib}}_dependencies",
{%- endfor %}
    ],
)

py_binary(
    name = "publish",
    srcs = ["publish.py"],
    visibility = ["//visibility:public"],
    deps = [
        "@bzlmodrio-gentool//bazelrio_gentool",
    ],
)

