load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")
load("//private/non_bzlmod:create_null_repository.bzl", "create_null_repository")

def load_{{repo.replace('-', "_")}}(version):
    if version == None:
        print("Not using {{repo}}")
        create_null_repository(
            name = "{{repo}}",
            sanitized_repo_name = "{{repo.replace("-", "_")}}"
        )
        return

    if version == "local":
        print("Using local {{repo}}")
        native.local_repository(
            name = "{{repo}}",
            path = "../../{{"rules" if "rules" in repo else "libraries"}}/{{repo.replace('bzlmodrio', 'bzlmodRio')}}",
        )
        return
{%- for version, version_info in repo_info.items() %}
    elif version == "{{version}}":
        sha = "{{version_info.sha}}"
{%- endfor %}
    else:
        fail("Unsupported version {}".format(version))

    http_archive(
        name = "{{repo}}",
        sha256 = sha,
        strip_prefix = "{{repo.replace('bzlmodrio', 'bzlmodRio')}}-{}".format(version),
        url = "https://github.com/bzlmodRio/{{repo.replace('bzlmodrio', 'bzlmodRio')}}/archive/refs/tags/{}.tar.gz".format(version),
    )

