bazel_dep(name = "bzlmodrio", version = "", repo_name = "bazelrio")
local_path_override(
    module_name = "bzlmodrio",
    path = "..",
)

{{bazel_dependencies.rules_cc.module_dep()}}
{{bazel_dependencies.rules_java.module_dep()}}
{{ mandatory_dependencies.rules_bzlmodrio_toolchain.module_dep() }}
{{ mandatory_dependencies.rules_bazelrio.module_dep() }}
{{ mandatory_dependencies.rules_wpi_styleguide.module_dep() }}
{{mandatory_dependencies.rules_checkstyle.module_dep()}}
{{mandatory_dependencies.rules_pmd.module_dep()}}
{{mandatory_dependencies.rules_spotless.module_dep()}}
{{mandatory_dependencies.rules_wpiformat.module_dep()}}

bazel_dep(name = "bzlmodrio-allwpilib", version = "2023.3.2")
bazel_dep(name = "bzlmodrio-phoenix", version = "5.30.4")
bazel_dep(name = "bzlmodrio-revlib", version = "2023.1.3")