bazel_dep(name = "bzlmodrio", version = "", repo_name = "bazelrio")
local_path_override(
    module_name = "bzlmodrio",
    path = "..",
)

{{bazel_dependencies.rules_cc.module_dep()}}
{{bazel_dependencies.rules_java.module_dep()}}
{{ mandatory_dependencies.rules_bzlmodrio_toolchain.module_dep() }}
{{ mandatory_dependencies.rules_bazelrio.module_dep() }}
{{ mandatory_dependencies.rules_wpi_styleguide.module_dep() }}
{{mandatory_dependencies.rules_checkstyle.module_dep()}}
{{mandatory_dependencies.rules_pmd.module_dep()}}
{{mandatory_dependencies.rules_spotless.module_dep()}}
{{mandatory_dependencies.rules_wpiformat.module_dep()}}


{% for repo, repo_info in repos %}
{% if repo in ["bzlmodrio-allwpilib", "bzlmodrio-phoenix", "bzlmodrio-revlib"] %}
bazel_dep(name = "{{repo}}", version = "{{repo_info.keys() | last}}")
{% endif %}
{%- endfor %}