module(
    name = "bzlmodrio",
    version = "2023.1",
    compatibility_level = 2023,
)

{%- for repo, repo_info in repos %}
bazel_dep(name = "{{repo}}", version = "")
{% endfor %}


{%- for repo, repo_info in repos %}
local_path_override(
    module_name = "{{repo}}",
    path = "../../{{repo}}",
)
{% endfor %}